/* .body-container { */
/*   font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif; */
/*   max-width: 600px; */
/*   margin: 0 auto; */
/*   padding-top: 72px; */
/*   -webkit-font-smoothing: antialiased; */
/*   font-size: 1.125em; */
/*   color: #333; */
/*   line-height: 1.5em; */
/* } */

/* .muted { */
/*     color: #999; */
/* } */

/* .search-term { */
/*     background-color: yellow; */
/* } */

/* h1, h2, h3 { */
/*   color: #000; */
/* } */
/* h1 { */
/*   font-size: 2.5em */
/* } */

/* h2 { */
/*   font-size: 2em */
/* } */

/* h3 { */
/*   font-size: 1.5em */
/* } */

/* a { */
/*   text-decoration: none; */
/*   color: #09f; */
/* } */

/* a:hover { */
/*   text-decoration: underline; */
/* } */

/* from product-list */
.results-amount {font-weight:normal}
.terms-and-filters{margin-top:15px}
.site-result,.product-result{padding:15px;border:1px solid #E9E9E9;border-radius:3px;margin-bottom:20px}
.product-image-link{padding-top:15px;width:200px;text-align:center;margin-bottom:10px}
.product-thumb{max-height:150px}
.mfr-thumb{max-height:35px;display:block}
@media (max-width: 480px){.product-thumb{max-height:200px}.product-image-link{width:100%}}
.product-thumb,.mfr-thumb{margin:0 auto 10px}
.part-numbers{float:left;margin-bottom:10px}
.mfg-part-number,.summit-part-number{white-space:nowrap}
.product-control{margin-left:10px;float:right;text-align:right;display:none}
.pricing{font-size:14px}


img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


/* from product page */
.mfr-thumb{display: none\9; /* IE8 and older */}
.search-title, .site-result p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-url {
    color: #09F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-url:active {
    white-space: normal;
    overflow: visible;
    word-break: break-all;
}
.missing-img{background-color:#E3E3E3; color:#FFF; height:100px; max-width:100%; padding:15px; display:table; margin:0 auto 10px;}
.missing-img-content{display:table-cell; vertical-align:middle;}
.missing-img i {font-size:72px; line-height:72px; display:block;}

.breadcrumb {
    overflow-x:scroll;
    white-space: nowrap;
    margin: 0;
    padding:15px;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb>li+li:before {
    font-family: 'FontAwesome';
    content: "\f105";
}
.breadcrumb li a{
    color: #999;
    font-weight:normal;
}
.breadcrumb li.active{
    font-weight:bold;
}

.search-terms{
    display:inline-block;
}
.search-terms a, .search-terms span{
    margin-bottom:5px;
    display:inline-block;
}
.search-terms a{
    margin-right:2px;
}
.within-separator{
    padding:5px;
}
.btn-group.category-dropdown a{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-group.category-dropdown .dropdown-menu{
    right:0;
    min-width:180px;
}
.btn-group.category-dropdown .dropdown-menu > li.option {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.btn-group.category-dropdown .dropdown-menu > li > a {
    white-space:normal;
}
.search-term {
    font-weight: bolder;
    background-color: rgba(255,255,0,0.3);
    display:inline;
}
.site-result, .product-result {
    padding: 15px;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    margin: 20px 0px;
}
.search-url {
    color: #337ab7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.terms-and-filters{
    margin-bottom:15px;
}
.product-thumb {
    max-height: 150px;
}

.product-thumb, .mfr-thumb {
    margin: 0 auto 10px;
    display:block;
}
.mfr-thumb {
    max-height: 35px;
}

.product-id {display:block;}
.product-id-value{display:inline-block;}

.category-selector{
    max-width:200px;
}
@media(max-width:768px){
    .product-images .missing-img {
        margin-left: 0;
        margin-right: 0;
    }
    .product-id {font-weight:bold;}
    .product-id-value{
        display:block;
        margin-bottom:5px;
        font-weight:normal;
    }
}

.field-container {
    font-size: 12px;
    line-height: 14px;
}

.field-label {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-weight: 800;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h3 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 26px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.h3 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 20px;
    color: #0cf;
}
a {
    color: #08c;
}
a:visited {
    color: #0cf;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a, .btn-link {
    /* color: #0CF; */
    text-decoration: none;
}

nav.top-menu {
    background-color: #01506F;
}

.top-menu {
    min-width: 300px;
    z-index: 1000;
    position: relative;
}

nav.top-menu table td.search-input>input {
    margin: 0;
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: #FFF;
}

textarea, input[type="text"], input[type="search"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}


select, textarea, input[type="text"], input[type="search"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

.field-label {
    font-weight: bold;
}

.clearfix {
    overflow: hidden;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.left-pane {
    float: left;
    width: 25%;
    background-colorrr: #eee;
    background-color: #bbf;
    padding: 6px;
    margin-bottom: 200px;
}

.search-list {
    float: right;
    width: 73%;
}

.add-separator::before {
    content: " > ";
}

.black {
    color: black;
}

.lightgray {
    background-color: lightgray;
    padding: 1px 4px;
}

a.black:hover {
    background-color: lightgray;
}

.not-selected-stock {
    margin: 0px 1px 0px 1px;
    border: solid 1px;
    padding: 3px;
}

.selected-stock {
    background-color: #bbf;
    margin: 0px 1px 0px 1px;
    border: solid 1px;
    padding: 3px;
}

.heading {
    background-color: #77d;
    color: white;
    padding: 6px 10px 6px 4px;
    text-align: left;
}

.inline {
    display: inline
}

input.toggle {
    margin-top: 0px;
}

a.narrow {
    font-size: 13px;
    line-height: 14px;
}

hr.narrow {
    margin: 2px 0px 6px;
    border-bottom: 1px solid #000;
    background: #bbb;
}

hr.narroww {
    margin: 4px 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.feedback {
    float: right; 
    display: inline;
    border: 1px solid;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px gray;
}

.float-right {
    /* float: right; */
    /* display: inline; */
}

.badge-floattt {
    float: right;
    display: inline;
}

.column {
    /* display: inline; */
    /* display: block; */
    /* box-sizing: border-box; */
}

.category-ancestor {
    background-color: #aaf;
    padding: 2px 3px;
}